<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnk.bnk_project.mapper.RiskTestMapper">

    <insert id="insertRiskTestResult" parameterType="kr.co.bnk.bnk_project.dto.RiskTestResultDTO">
        INSERT INTO RISK_TEST_RESULT (
            TEST_RUN_ID, CUST_NO, TEST_DATE, TOTAL_SCORE, RISK_TYPE, END_DATE
        ) VALUES (
                     'REQ_' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '_' || LPAD(SEQ_RISK_TEST_ID.NEXTVAL, 5, '0'),
                     #{custNo},
                     SYSTIMESTAMP,
                     #{totalScore},
                     #{riskType},
                     TRUNC(SYSDATE) + 1
                 )
    </insert>

    <select id="findValidTestByCustNo" parameterType="Long" resultType="kr.co.bnk.bnk_project.dto.RiskTestResultDTO">
        SELECT *
        FROM (
                 SELECT *
                 FROM RISK_TEST_RESULT
                 WHERE CUST_NO = #{custNo}
                   AND END_DATE <![CDATA[ >= ]]> TRUNC(SYSDATE) -- 만료일이 지나지 않은 것
                 ORDER BY TEST_DATE DESC
             )
        WHERE ROWNUM = 1
    </select>

    <!-- 오늘 투자성향 조사를 했는지 확인 (하루에 한 번만 체크) -->
    <select id="hasTodayRiskTest" parameterType="Long" resultType="int">
        SELECT COUNT(*)
        FROM RISK_TEST_RESULT
        WHERE CUST_NO = #{custNo}
          AND TRUNC(TEST_DATE) = TRUNC(SYSDATE)
    </select>
</mapper>