<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
        <!-- 메인 헤더 Fragment -->
        <header class="main-header" th:fragment="header">
            <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
            <div class="header-right">
                <div id="notification" class="nav-btn">
                    <i class="fa fa-bell"></i>
                    <span class="note-num">3</span>
                </div>
                <span class="header-divider">|</span>
                <span sec:authorize="isAuthenticated()" sec:authentication="name" class="user-name">관리자ID</span>
                <span class="header-divider">|</span>
                <a th:href="@{/admin/logout}" class="logout-link">로그아웃</a>
            </div>
        </header>
</body>
</html>

