<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnk.bnk_project.mapper.MemberMapper">

    <select id="findByCustId" parameterType="string" resultType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        SELECT
            cust_no     AS custNo,
            cust_id     AS userId,
            password,
            cust_name   AS name,
            cust_hp     AS phone,
            cust_email,
            status_code
        FROM
            bnk_user
        WHERE
            cust_id = #{custId}
    </select>

    <!-- CustNo조회 -->
    <select id="findCustNoByUserId" parameterType="String" resultType="Long">
        SELECT CUST_NO FROM BNK_USER WHERE CUST_ID = #{userId}
    </select>

    <!-- ID중복 체크 -->
    <select id="existsByCustId" parameterType="string" resultType="int">
        SELECT COUNT(1)
        FROM bnk_user
        WHERE Cust_id = #{userId}
    </select>

    <!-- 이메일 체크 -->
    <select id="existsByEmail" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM BNK_USER
        WHERE CUST_EMAIL = #{email}
    </select>

    <!-- 계좌번호 체크 -->
    <select id="checkAccountExist" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM BNK_ACCOUNT
        WHERE ACCT_NO = #{generatedAccountNum}
    </select>

    <!-- 회원 정보 저장 -->
    <insert id="insertUser" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        <selectKey keyProperty="custNo" resultType="long" order="BEFORE">
            SELECT bnk_user_seq.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO bnk_user (
            cust_no,
            cust_id,
            password,
            cust_name,
            cust_hp,
            cust_email,
            ZIP_CODE,
            ADDR1,
            ADDR2,
            join_date,
            gender
        ) VALUES (
            #{custNo},
            #{userId},
            #{password},
            #{name},
            #{phone},
            #{emailId} || '@' || #{emailDomain},
            #{zipcode},
            #{address1},
            #{address2},
            SYSDATE,
            #{gender}
        )
    </insert>

    <!-- 계좌 정보 저장 -->
    <insert id="insertAccount" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        INSERT INTO bnk_account (
--             account_id,
            cust_no,
            acct_no,
            acct_pass,
            reg_date
        ) VALUES (
--             bnk_account_seq.NEXTVAL,
            #{custNo},
            #{accountNumber},
            #{accountPassword},
            SYSDATE
        )
    </insert>

    <!-- 직장 정보 저장 -->
    <insert id="insertJobInfo" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        INSERT INTO BNK_USER_JOBINFO (
            CUST_NO,
            HAS_JOB,
            COMPANY_NAME,
            JOB_TYPE,
            DEPARTMENT,
            POSITION,
            JOB_ZIP_CODE,
            JOB_ADDR1,
            JOB_ADDR2
        ) VALUES (
            #{custNo},
            #{hasJob},
            #{companyName},
            #{jobType},
            #{department},
            #{position},
            #{jobZipcode},
            #{jobAddress1},
            #{jobAddress2}
        )
    </insert>

    <!-- 부가 정보 저장 -->
    <insert id="insertAdditionalInfo" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        INSERT INTO BNK_USER_INFO (
            CUST_NO,
            BIRTH,
            CALENDER_TYPE,
            CHILD_COUNT,
            HAS_HOUSE,
            HOUSE_TYPE,
            HAS_CAR,
            CAR_NUMBER
        ) VALUES (
            #{custNo},
            TO_DATE(#{birthdate}, 'YYYY-MM-DD'),
            #{calendarType},
            #{childCount},
            #{houseOwnership},
            #{houseType},
            #{hasCar},
            #{carNumber}
        )
    </insert>

    <!-- 약관 동의 저장 -->
    <insert id="insertAgreement">
        INSERT INTO user_agreement (
            user_agree_seq,
            cust_no,
            term_id,
            is_agreed,
            agree_date
        ) VALUES (
                     user_agreement_seq.NEXTVAL,
                     #{custNo},
                     #{termId},
                     #{isAgreed},
                     SYSDATE
                 )
    </insert>

    <!-- 회원 정보 조회 -->
    <select id="findDetailByCustNo" parameterType="long" resultType="kr.co.bnk.bnk_project.dto.MemberUpdateDTO">
        SELECT
            cust_no     AS custNo,
            cust_name   AS name,
            cust_id     AS userId,
            cust_hp     AS phone,
            cust_email  AS email,
            ZIP_CODE    AS zipcode,
            ADDR1       AS address1,
            ADDR2       AS address2,
            (SELECT TO_CHAR(BIRTH, 'YYYY-MM-DD') FROM BNK_USER_INFO WHERE CUST_NO = BU.CUST_NO) AS birthdate
        FROM
            BNK_USER BU
        WHERE
            cust_no = #{custNo}
    </select>

    <!-- 회원 정보 수정 -->
    <update id="updateMemberInfo" parameterType="kr.co.bnk.bnk_project.dto.MemberUpdateDTO">
        UPDATE BNK_USER
        SET
            CUST_HP = #{phone},
            ZIP_CODE = #{zipcode},
            ADDR1 = #{address1},
            ADDR2 = #{address2}
        WHERE
            CUST_NO = #{custNo}
    </update>

</mapper>