<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnk.bnk_project.mapper.MemberMapper">

    <select id="findByCustId" parameterType="string" resultType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        SELECT
            cust_id     AS userId,  -- BnkUserDTO의 'userId' 필드와 매칭
            password,               -- BnkUserDTO의 'password' 필드와 매칭
            cust_name   AS name,    -- BnkUserDTO의 'name' 필드와 매칭
            cust_hp     AS phone,   -- BnkUserDTO의 'phone' 필드와 매칭
            cust_email,             -- BnkUserDTO의 'custEmail' (이 필드가 DTO에 있다면)
            status_code             -- BnkUserDTO의 'statusCode' (이 필드가 DTO에 있다면)
        FROM
            bnk_user
        WHERE
            cust_id = #{custId}
    </select>

    <!-- 회원 정보 저장 -->
    <insert id="insertUser" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        <selectKey keyProperty="custNo" resultType="long" order="BEFORE">
            SELECT bnk_user_seq.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO bnk_user (
            cust_no,
            cust_id,
            password,
            cust_name,
            cust_hp,
            cust_email,
            ZIP_CODE,
            ADDR1,
            ADDR2,
            join_date
        ) VALUES (
            #{custNo},
            #{userId},
            #{password},
            #{name},
            #{phone},
            #{emailId} || '@' || #{emailDomain},
            #{zipcode},
            #{address1},
            #{address2},
            SYSDATE
        )
    </insert>

    <!-- 계좌 정보 저장 -->
    <insert id="insertAccount" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        INSERT INTO bnk_account (
            account_id,
            cust_no,
            acct_no,
            acct_pass,
            reg_date
        ) VALUES (
            bnk_account_seq.NEXTVAL,
            #{custNo},
            #{accountNumber},
            #{accountPassword},
            SYSDATE
        )
    </insert>

    <!-- 직장 정보 저장 -->
    <insert id="insertJobInfo" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        INSERT INTO BNK_USER_JOBINFO (
            CUST_NO,
            HAS_JOB,
            COMPANY_NAME,
            JOB_TYPE,
            DEPARTMENT,
            POSITION,
            JOB_ZIP_CODE,
            JOB_ADDR1,
            JOB_ADDR2
        ) VALUES (
            #{custNo},
            #{hasJob},
            #{companyName},
            #{jobType},
            #{department},
            #{position},
            #{jobZipcode},
            #{jobAddress1},
            #{jobAddress2}
        )
    </insert>

    <!-- 부가 정보 저장 -->
    <insert id="insertAdditionalInfo" parameterType="kr.co.bnk.bnk_project.dto.BnkUserDTO">
        INSERT INTO BNK_USER_INFO (
            CUST_NO,
            BIRTH,
            CALENDER_TYPE,
            CHILD_COUNT,
            HAS_HOUSE,
            HOUSE_TYPE,
            HAS_CAR,
            CAR_NUMBER
        ) VALUES (
            #{custNo},
            TO_DATE(#{birthdate}, 'YYYY-MM-DD'),
            #{calendarType},
            #{childCount},
            #{houseOwnership},
            #{houseType},
            #{hasCar},
            #{carNumber}
        )
    </insert>

    <!-- 약관 동의 저장 -->
    <insert id="insertAgreement">
        INSERT INTO user_agreement (
            user_agree_seq,
            cust_no,
            term_id,
            is_agreed,
            agree_date
        ) VALUES (
                     user_agreement_seq.NEXTVAL,
                     #{custNo},
                     #{termId},
                     #{isAgreed},
                     SYSDATE
                 )
    </insert>

</mapper>