<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnk.bnk_project.mapper.FundMapper">

    <!-- 상세페이지 조회 -->
    <select id="findProductDetail" parameterType="string"
            resultType="kr.co.bnk.bnk_project.dto.ProductDTO">
        SELECT
            fund_code AS fundcode,
            fund_name AS fundName,
            fund_short_code AS fundshortcode,
            overview AS overview,
            fund_feature AS fundfeature,
            invest_grade AS investGrade,
            reg_date AS regdate,
            admin_company AS admincompany,
            asset_manager_id as asset,
            class_name as classname
        FROM FUND_MASTER
        WHERE fund_code = #{fundcode}

    </select>

    <!-- 목록 조회 -->
    <select id="find_ProductList" resultType="kr.co.bnk.bnk_project.dto.ProductDTO">
        SELECT
            fund_code AS fundcode,
            fund_name AS fundNm,
            fund_short_code AS fundshortcode,
            overview,
            fund_feature AS fundfeature,
            invest_grade AS investgrade
        FROM FUND_MASTER
    </select>

    <select id="findFundDocuments" resultType="kr.co.bnk.bnk_project.dto.ProductDTO">
            SELECT
                fund_code AS fundcode,
                doc_type AS doctype,
                doc_url AS docurl,
                doc_file_name AS docfile,
                reg_date AS regdate
            FROM FUND_DOCUMENTS
            ORDER BY fund_code DESC



    </select>


</mapper>
