<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

<aside class="my-sidebar" th:fragment="sidebar(activeMenu)">
    <h2 class="my-sidebar__title">마이페이지</h2>
    <ul class="my-sidebar__menu">

        <li class="my-sidebar__item">
            <a th:href="@{/my/dashboard}"
               class="my-sidebar__button"
               th:classappend="${activeMenu == 'dashboard'} ? 'is-active' : ''">
                마이 대시보드
            </a>
        </li>

        <li class="my-sidebar__item"
            th:classappend="((${activeMenu == 'account'} or ${activeMenu == 'price'} or ${activeMenu == 'yield'} or ${activeMenu == 'report'})) ? 'is-open' : ''">

            <button type="button"
                    class="my-sidebar__button"
                    th:classappend="((${activeMenu == 'account'} or ${activeMenu == 'price'} or ${activeMenu == 'yield'} or ${activeMenu == 'report'})) ? 'is-active' : ''">
                <span>조회</span>
                <span class="my-sidebar__arrow">▶</span>
            </button>

            <ul class="my-sidebar__submenu">
                <li>
                    <a th:href="@{/my/account}" th:classappend="${activeMenu == 'account'} ? 'is-active' : ''">
                        펀드계좌조회
                    </a>
                </li>
                <li>
                    <a th:href="@{/my/price}" th:classappend="${activeMenu == 'price'} ? 'is-active' : ''">
                        기준가격조회
                    </a>
                </li>
                <li>
                    <a th:href="@{/my/yield}" th:classappend="${activeMenu == 'yield'} ? 'is-active' : ''">
                        수익률조회
                    </a>
                </li>
                <li>
                    <a th:href="@{/my/report}" th:classappend="${activeMenu == 'report'} ? 'is-active' : ''">
                        자산운용보고서통보방법변경
                    </a>
                </li>
            </ul>
        </li>

        <li class="my-sidebar__item"
            th:classappend="${activeMenu == 'newReservationCancel'} ? 'is-open' : ''">

            <button type="button"
                    class="my-sidebar__button"
                    th:classappend="${activeMenu == 'newReservationCancel'} ? 'is-active' : ''">
                <span>펀드 신규가입</span>
                <span class="my-sidebar__arrow">▶</span>
            </button>

            <ul class="my-sidebar__submenu">
                <li>
                    <a th:href="@{/fund/productList}">
                        신규예약
                    </a>
                </li>
                <li>
                    <a th:href="@{/my/newFundReservationCancel}"
                       th:classappend="${activeMenu == 'newReservationCancel'} ? 'is-active' : ''">
                        신규예약조회/취소
                    </a>
                </li>
                <li>
                    <a th:href="@{/my/lateNewFundReservationCancel}"
                       th:classappend="${activeMenu == 'lateNewReservationCancel'} ? 'is-active' : ''">
                        마감후펀드신규예약내역조회/취소
                    </a>
                </li>
            </ul>
        </li>

        <li class="my-sidebar__item"
            th:classappend="${activeMenu == 'additionalInvestment'} ? 'is-open' : ''">

            <button type="button"
                    class="my-sidebar__button"
                    th:classappend="${activeMenu == 'additionalInvestment'} ? 'is-active' : ''">
                <span>추가투자</span>
                <span class="my-sidebar__arrow">▶</span>
            </button>

            <ul class="my-sidebar__submenu">
                <li>
                    <a th:href="@{/my/additionalInvestment}"
                       th:classappend="${activeMenu == 'additionalInvestment'} ? 'is-active' : ''">
                        추가투자예약
                    </a>
                </li>
                <li>
                    <a th:href="@{/my/additionalInvestmentHistory}"
                       th:classappend="${activeMenu == 'additionalInvestmentHistory'} ? 'is-active' : ''">
                        추가투자예약내역조회/취소
                    </a>
                </li>
            </ul>
        </li>

        <li class="my-sidebar__item">
            <button type="button" class="my-sidebar__button">
                고객센터 <span class="my-sidebar__arrow">▶</span>
            </button>
            <ul class="my-sidebar__submenu">
                <li><a th:href="@{/my/qna/write}">1:1 문의하기</a></li>
                <li><a th:href="@{/my/qna/list}">나의 문의내역</a></li>
            </ul>
        </li>

    </ul>
</aside>

</body>
</html>