<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    날짜 : 2025/11/26
    이름 : 이종봉
    내용 : 펀드 목록 돋보기
-->


<mapper namespace="kr.co.bnk.bnk_project.mapper.admin.ProductMapper">

    <!-- 공통 WHERE 절 -->
    <sql id="productWhere">
        <where>

            <!-- 1) 검색조건(searchType + keyword) -->
            <if test="pageRequestDTO.searchType != null
                      and pageRequestDTO.keyword != null
                      and pageRequestDTO.keyword != ''">

                <choose>
                    <when test="pageRequestDTO.searchType == 'name'">
                        AND fm.fund_name LIKE '%' || #{pageRequestDTO.keyword} || '%'
                    </when>

                    <when test="pageRequestDTO.searchType == 'code'">
                        AND fm.fund_code = #{pageRequestDTO.keyword}
                    </when>

                    <when test="pageRequestDTO.searchType == 'type'">
                        AND fm.fund_type LIKE '%' || #{pageRequestDTO.keyword} || '%'
                    </when>
                </choose>
            </if>

            <!-- 2) 펀드분류 -->
            <if test="pageRequestDTO.category != null and pageRequestDTO.category != ''">
                AND fm.fund_type = #{pageRequestDTO.category}
            </if>

            <!-- 3) 상태 -->
            <if test="pageRequestDTO.status != null and pageRequestDTO.status != ''">
                AND fm.oper_status = #{pageRequestDTO.status}
            </if>

            AND fm.oper_status = '운용중' or fm.oper_status = '운용중단' or fm.oper_status = '운용대기'

        </where>
    </sql>


    <!-- 상품 목록 페이지 조회 -->
    <select id="selectProductList"
            parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="kr.co.bnk.bnk_project.dto.admin.ProductListDTO">

        SELECT
            fm.fund_code           AS fundCode,
            fm.fund_type           AS fundType,
            fc.category_name       AS categoryName, <!-- 한글 유형-->
            fm.fund_name           AS fundName,
            amc.operator_name      AS operatorName,
            fm.reg_date            AS regDate,
            fm.oper_status         AS operStatus
        FROM fund_master fm
                 JOIN asset_management_company amc
                      ON fm.asset_manager_id = amc.operator_id
                 JOIN fund_category fc
                      ON fm.fund_type = fc.category_code

        <include refid="productWhere"/>

        ORDER BY fm.reg_date DESC
        OFFSET #{pageRequestDTO.offset} ROWS
        FETCH NEXT #{pageRequestDTO.size} ROWS ONLY

    </select>

    <select id="selectProductTotal"
            parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM fund_master fm

        <include refid="productWhere"/>
    </select>

    <!-- 펀드 목록 돋보기 -->
    <select id="selectProductDetail"
            parameterType="string"
            resultType="kr.co.bnk.bnk_project.dto.admin.FundListDetailDTO">

        SELECT
            /* -------------------------
             * 1) 요약 정보
             * ------------------------- */
            fm.fund_code               AS fundCode,
            fm.fund_name               AS fundName,
            fdh.nav_per_unit           AS navPerUnit,
            fdh.daily_change_rate      AS changeAmount,
            fdh.daily_change_rate      AS dailyChangeRate,
            fdh.total_nav              AS totalNav,
            TO_CHAR(fdh.trade_date, 'YYYY-MM-DD') AS tradeDate,

            /* -------------------------
             * 2) FUND_MASTER 기본 정보
             * ------------------------- */
            fm.fund_type               AS fundType,
            fm.invest_region           AS investRegion,
            fm.classify_code           AS classifyCode,
            TO_CHAR(fm.setup_date, 'YYYY-MM-DD') AS setupDate,
            fm.initial_nav             AS initialNav,
            fm.public_private_type     AS publicPrivateType,
            fm.oper_status             AS operStatus,
            fm.fund_short_code         AS shortCode,
            fm.is_unit_type            AS isUnitType,
            fm.oper_period_type        AS operPeriodType,
            fm.class_name              AS className,

            fm.rgn_type                AS rgnType,
            fm.prfm_type               AS prfmType,

            /* -------------------------
             * 3) FUND_FEE_STRUCTURE 보수/수수료
             * ------------------------- */
            ffs.sales_fee_rate         AS salesFeeRate,
            ffs.mgt_fee_rate           AS mgtFeeRate,
            ffs.trustee_fee_rate       AS trusteeFeeRate,
            ffs.admin_fee_rate         AS adminFeeRate,
            ffs.total_expense_ratio    AS totalExpenseRatio,
            ffs.total_fee_rate         AS totalFeeRate,

            ffs.upfront_fee            AS upfrontFee,
            ffs.post_fee_rate          AS postFeeRate,

            /* -------------------------
             * 4) 관련회사 정보
             * ------------------------- */
            amc.operator_name          AS operatorName,
            fm.admin_company           AS adminCompany,
            fm.sales_company           AS salesCompany,
            fm.trustee_company         AS trusteeCompany,

            /* -------------------------
             * 5) 회사개황/로고/재무현황
             * ------------------------- */
            amc.operator_hp            AS operatorHp,
            amc.ceo_name               AS ceoName,
            TO_CHAR(amc.establishment_date, 'YYYY-MM-DD') AS establishmentDate,
            amc.total_asset            AS totalAsset,
            amc.total_liabilities      AS totalLiabilities,
            amc.capital                AS capital,
            amc.equity_capital         AS equityCapital,
            amc.homepage_url           AS homepageUrl,
            amc.logo                   AS logo,
            amc.net_income             AS netIncome,
            amc.last_modified_date     AS lastModifiedDate,

            /* 계산 컬럼 - 영업용순자본 */
            (amc.total_asset - amc.total_liabilities) AS operatingCapital,

            /* 전주대비 금액 */
            (
                fdh.nav_per_unit -
                (
                    SELECT nav_per_unit
                    FROM fund_daily_history
                    WHERE fund_code = fm.fund_code
          <![CDATA[ AND trade_date <= fdh.trade_date - 7 ]]>
        ORDER BY trade_date DESC
                        FETCH FIRST 1 ROWS ONLY
                )
                ) AS prevWeekChange,

/* 전주대비 퍼센트 */
            (
                CASE
                    WHEN (
                             SELECT nav_per_unit
                             FROM fund_daily_history
                             WHERE fund_code = fm.fund_code
              <![CDATA[ AND trade_date <= fdh.trade_date - 7 ]]>
            ORDER BY trade_date DESC
                                 FETCH FIRST 1 ROWS ONLY
                         ) IS NULL OR (
                                          SELECT nav_per_unit
                                          FROM fund_daily_history
                                          WHERE fund_code = fm.fund_code
              <![CDATA[ AND trade_date <= fdh.trade_date - 7 ]]>
            ORDER BY trade_date DESC
                                              FETCH FIRST 1 ROWS ONLY
                                      ) = 0 THEN NULL
                    ELSE
                        (
                            (fdh.nav_per_unit -
                             (SELECT nav_per_unit
                              FROM fund_daily_history
                              WHERE fund_code = fm.fund_code
                       <![CDATA[ AND trade_date <= fdh.trade_date - 7 ]]>
                     ORDER BY trade_date DESC
                                  FETCH FIRST 1 ROWS ONLY
                             )
                                )
                                /
                            (SELECT nav_per_unit
                             FROM fund_daily_history
                             WHERE fund_code = fm.fund_code
                   <![CDATA[ AND trade_date <= fdh.trade_date - 7 ]]>
                 ORDER BY trade_date DESC
                                 FETCH FIRST 1 ROWS ONLY
                            )
                            ) * 100
                    END
                ) AS prevWeekPercent


        FROM fund_master fm

                 /* 최신 기준가 */
                 LEFT JOIN (
            SELECT f1.*
            FROM fund_daily_history f1
            WHERE f1.trade_date = (
                SELECT MAX(f2.trade_date)
                FROM fund_daily_history f2
                WHERE f2.fund_code = f1.fund_code
            )
        ) fdh ON fdh.fund_code = fm.fund_code

            /* 보수/수수료 */
                 LEFT JOIN fund_fee_structure ffs
                           ON fm.fund_code = ffs.fund_code

            /* 운용사 정보 */
                 LEFT JOIN asset_management_company amc
                           ON fm.asset_manager_id = amc.operator_id

        WHERE fm.fund_code = #{fundCode}

    </select>

    <!-- 약관, 투자설명서, 간이설명서 -->
    <select id="selectFundDocuments" parameterType="String" resultType="kr.co.bnk.bnk_project.dto.admin.FundListDetailDTO">
        SELECT
            fund_code           AS fundCode,
            doc_type            AS docType,
            doc_url             AS docUrl,
            doc_file_name       AS docFileName
        FROM fund_documents
        WHERE fund_code = #{fundCode}
    </select>

    <!-- 수익률 추이차트 -->
    <select id="selectFundReturnHistory" parameterType="string" resultType="kr.co.bnk.bnk_project.dto.admin.FundReturnHistoryDTO">
        SELECT
            TO_CHAR(fp.calc_date, 'YYYY-MM-DD')   AS calcDate,
            fp.setup_amount                     AS setupAmount,
            fp.fund_return                      AS fundReturn,
            fdh.bm_kospi                        AS bmKospi,
            fdh.bm_kosdaq                       AS bmKosdaq,
            fdh.bm_gov_bond                     AS bmGovBond,
            fdh.bm_corp_bond                    AS bmCorpBond
        FROM
            fund_performance fp
        LEFT JOIN fund_daily_history fdh
        ON fp.fund_code = fdh.fund_code
        WHERE fp.fund_code = #{fundCode}
        ORDER BY fp.calc_date ASC
    </select>

    <!-- 가격변동 추이 -->
    <select id="selectFundPriceHistory" parameterType="string" resultType="kr.co.bnk.bnk_project.dto.admin.FundPriceHistoryDTO">
        SELECT
            TO_CHAR(trade_date, 'YYYY-MM-DD')     AS tradeDate,
            nav_per_unit                        AS navPerUnit,
            daily_change_rate                   AS dailyChangeRate,
            tax_base_nav                        AS taxBaseNav,
            setup_origin_amount                 AS setupOriginAmount,
            bm_kospi                            AS bmKospi,
            bm_kospi200                         AS bmKospi200,
            bm_kosdaq                           AS bmKosdaq,
            bm_gov_bond                         AS bmGovBond,
            bm_corp_bond                        AS bmCorpBond
        FROM
            fund_daily_history
        WHERE fund_code = #{fundCode}
        ORDER BY trade_date ASC
    </select>

    <!-- 자산 구성 내역 -->
    <select id="selectFundAssetAllocation" parameterType="map" resultType="kr.co.bnk.bnk_project.dto.admin.FundAssetAllocationDTO">
        SELECT
            asset_category                             AS assetCategory,
            TO_CHAR(alloc_date, 'YYYY-MM-DD')          AS allocDate,
            detail_name                                AS detailName,
            weight_percent                             AS weightPercent
        FROM
            fund_asset_allocation
        WHERE fund_code = #{fundCode}
        ORDER BY asset_category, detail_name
    </select>



    <!-- 결산 및 상환 -->
    <select id="selectFundSettlementHistory" parameterType="string" resultType="kr.co.bnk.bnk_project.dto.admin.FundSettlementHistoryDTO">
        SELECT
            fund_code           AS fundCode,
            settle_start_date   AS settleStartDate,
            settle_date         AS settleDate,
            elapsed_days        AS elapsedDays,
            settle_nav          AS settleNav,
            settle_tax_nav      AS settleTaxNav,
            setup_origin_amount AS setupOriginAmount,
            settle_type         AS settleType
        FROM
            fund_settlement_history
        WHERE
            fund_code = #{fundCode}
        ORDER BY
            settle_date DESC
    </select>




</mapper>