<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bnk.bnk_project.mapper.admin.ProductMapper">

    <!-- 공통 WHERE 절 -->
    <sql id="productWhere">
        <where>

            <!-- 1) 검색조건(searchType + keyword) -->
            <if test="pageRequestDTO.searchType != null
                      and pageRequestDTO.keyword != null
                      and pageRequestDTO.keyword != ''">

                <choose>
                    <when test="pageRequestDTO.searchType == 'name'">
                        AND fm.fund_name LIKE '%' || #{pageRequestDTO.keyword} || '%'
                    </when>

                    <when test="pageRequestDTO.searchType == 'code'">
                        AND fm.fund_code = #{pageRequestDTO.keyword}
                    </when>

                    <when test="pageRequestDTO.searchType == 'type'">
                        AND fm.fund_type LIKE '%' || #{pageRequestDTO.keyword} || '%'
                    </when>
                </choose>
            </if>

            <!-- 2) 펀드분류 -->
            <if test="pageRequestDTO.category != null and pageRequestDTO.category != ''">
                AND fm.fund_type = #{pageRequestDTO.category}
            </if>

            <!-- 3) 상태 -->
            <if test="pageRequestDTO.status != null and pageRequestDTO.status != ''">
                AND fm.oper_status = #{pageRequestDTO.status}
            </if>

        </where>
    </sql>


    <!-- 상품 목록 페이지 조회 -->
    <select id="selectProductList"
            parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="kr.co.bnk.bnk_project.dto.admin.ProductListDTO">

        SELECT
            fm.fund_code           AS fundCode,
            fm.fund_type           AS fundType,
            fc.category_name       AS categoryName, <!-- 한글 유형-->
            fm.fund_name           AS fundName,
            amc.operator_name      AS operatorName,
            fm.reg_date            AS regDate,
            fm.oper_status         AS operStatus
        FROM fund_master fm
                 JOIN asset_management_company amc
                      ON fm.asset_manager_id = amc.operator_id
                 JOIN fund_category fc
                      ON fm.fund_type = fc.category_code

        <include refid="productWhere"/>

        ORDER BY fm.reg_date DESC
        OFFSET #{pageRequestDTO.offset} ROWS
        FETCH NEXT #{pageRequestDTO.size} ROWS ONLY

    </select>

    <select id="selectProductTotal"
            parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM fund_master fm

        <include refid="productWhere"/>
    </select>

</mapper>