body {
    font-family: '맑은 고딕', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #111;
}

/* 중앙 컨테이너 */


h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #b22222;
    padding-bottom: 8px;
}

h2 {
    font-size: 18px;
    color: #222;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    color: #111;
    margin-top: 25px;
    margin-bottom: 8px;
}

p {
    line-height: 1.6;
    font-size: 14px;
    color: #333;
    margin: 5px 0 10px 0;
}

.section {
    margin-bottom: 40px;
}

.gray-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.container{
    padding-left: 20px;
}

/* 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 15px;
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #fafafa;
    font-weight: bold;
    color: #111;
}

td {
    color: #333;
}

ul {
    margin-top: 8px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 14px;
    color: #333;
}

/* footer */
footer {
    border-top: 1px solid #ddd;
    padding: 25px 0;
    background-color: #fff;
}

.footer-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 13px;
    color: #333;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #b22222;
}

.footer-contact {
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.footer-contact span {
    color: black;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 10px;
}

.footer-bottom .copy {
    color: #555;
    font-size: 12px;
}

.footer-selects {
    display: flex;
    gap: 8px;
}

select {
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 13px;
    background: #fff;
    cursor: pointer;
}

/* SNS */
.sns {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.sns a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: 0.2s;
}

.sns a:hover {
    color: #b22222;
}
