body {
    font-family: '맑은 고딕', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 상단 탭 */
.tab-menu {
    display: flex;
    border-bottom: 2px solid #b22222;
    margin-bottom: 20px;
}


.tab-menu a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-right: 1px solid #ddd;
    cursor: pointer;
    transition: 0.2s;
}

.tab-menu a.active {
    background-color: #b22222;
    color: #fff;
}

/* 펀드상품 소분류 */
.sub-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 15px 0 25px 0;
}

.sub-filter button {
    border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 3px;
    padding: 6px 14px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

.sub-filter button.active {
    background-color: #b22222;
    color: white;
    border-color: #b22222;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #e0e0e0;
    padding: 12px;
    text-align: center;
    vertical-align: top;
}

th {
    background-color: #fafafa;
}

.fund-name {
    text-align: left;
    font-weight: bold;
    color: #000;
    line-height: 1.4;
}
.fund-name a {
    font-size: 15px;
}

.fund-name a:hover {
    text-decoration: underline;
    color: #b22222;
}

.desc {
    font-size: 13px;
    color: #555;
    margin-top: 6px;
    line-height: 1.5;
}

.tag-wrap {
    margin: 6px 0;
}
.tag {
    background-color: #0a64b0;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 11px;
    margin-right: 6px;
}

.btn-join {
    display: block;
    width: 100px;
    margin: 0 auto 6px auto;
    padding: 8px 0;
    background-color: #c62828;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}
.sub-btn {
    font-size: 12px;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
}

.btn-join:hover {
    background-color: #8b0000;
}

.pagination {
    display: flex;
    gap: 6px;
    margin-top: 20px;
    justify-content: center;
}

.pagination button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 30px;
}

.pagination button.active {
    background: #b22222;
    color: white;
    border-color: #b22222;
}


