<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bnk.bnk_project.mapper.admin.InfoPostMapper">
    <!--================공시자료===================-->
    <!-- 공시자료 등록 -->
    <insert id="insertInfoPost" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
    <selectKey keyProperty="postId" resultType="int" order="BEFORE">
        SELECT info_post_seq.NEXTVAL FROM dual
    </selectKey>

        INSERT INTO info_post(
          post_id,
          post_type,
          title,
          disclosure_type,
          created_by,
          created_at,
          content,
          status
        )VALUES (
         #{postId},
         'DISCLOSURE',
         #{title},
         #{disclosureType},
         #{createdBy},
         SYSDATE,
         #{content},
         #{status}
        )
    </insert>

    <!-- 공시자료 목록 + 상세 (페이징 사용으로 주석처리) -->
    <!--
    <select id="selectAllInfoPost" resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id         AS postId,
            title,
            disclosure_type AS disclosureType,
            created_by      AS createdBy,
            created_at      AS createdAt,
            content,
            status
        FROM
            info_post
        WHERE
            post_type = 'DISCLOSURE'
        ORDER BY post_id DESC
    </select>
    -->

    <!-- 공시자료 페이징 목록 -->
    <select id="selectInfoPostList" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id         AS postId,
            title,
            disclosure_type AS disclosureType,
            created_at      AS createdAt,
            content,
            status
        FROM
            info_post
        WHERE
            post_type = 'DISCLOSURE'
        ORDER BY post_id DESC
        OFFSET #{offset} ROWS
        FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 공시자료 총 개수 -->
    <select id="selectInfoPostTotal" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM info_post
        WHERE post_type = 'DISCLOSURE'
    </select>

    <!-- 공시자료 수정 -->
    <update id="updateInfoPost" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        UPDATE info_post
        SET
            title = #{title},
            disclosure_type = #{disclosureType},
            content = #{content}
        WHERE post_id = #{postId}
    </update>

    <!-- 공시자료 삭제 -->
    <delete id="deleteInfoPost" parameterType="int">
        DELETE FROM info_post
        WHERE post_id = #{postId}
    </delete>

    <!--================수시공시===================-->
    <!-- 수시공시 등록 -->
    <insert id="insertAdHoc" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        <selectKey keyProperty="postId" resultType="int" order="BEFORE">
            SELECT info_post_seq.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO info_post (
        post_id,
        post_type,
        title,
        content,
        adhoc_type,
        adhoc_no,
        category_id,
        company,
        status,
        publish_start_at,
        created_by,
        created_at
        ) VALUES (
        #{postId},
        'AD_HOC',
        #{title, jdbcType=VARCHAR},
        #{content, jdbcType=CLOB},
        #{adhocType, jdbcType=VARCHAR},
        #{adhocNo, jdbcType=VARCHAR},
        #{categoryId, jdbcType=INTEGER},
        #{company, jdbcType=VARCHAR},
        #{status, jdbcType=VARCHAR},
        #{publishStartAt, jdbcType=TIMESTAMP},
        #{createdBy, jdbcType=VARCHAR},
        SYSDATE
        )
    </insert>

    <!-- 수시공시 목록 + 상세 (페이징 사용으로 주석처리) -->
    <!--
    <select id="selectAllAdHoc" resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id             AS postId,
            title,
            adhoc_type         AS adHocType,
            adhoc_no           AS adHocNo,
            category_id         AS categoryId,
            content,
            publish_start_at    AS publishStartAt,
            publish_end_at      AS publishEndAt,
            status,
            created_by          AS createdBy,
            created_at          AS createdAt,
            updated_by          AS updatedBy,
            updated_at          AS updatedAt
        FROM info_post
        WHERE post_type = 'AD_HOC'
        ORDER BY post_id DESC
    </select>
    -->

    <!-- 수시공시 페이징 목록 -->
    <select id="selectAdHocList" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id             AS postId,
            title,
            adhoc_type         AS adHocType,
            adhoc_no           AS adHocNo,
            category_id         AS categoryId,
            company,
            content,
            publish_start_at    AS publishStartAt,
            status,
            created_by          AS createdBy,
            created_at          AS createdAt,
            updated_by          AS updatedBy,
            updated_at          AS updatedAt
        FROM info_post
        WHERE post_type = 'AD_HOC'
        ORDER BY post_id DESC
        OFFSET #{offset} ROWS
        FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 수시공시 총 개수 -->
    <select id="selectAdHocTotal" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM info_post
        WHERE post_type = 'AD_HOC'
    </select>

    <!-- 수시공시 수정 -->
    <update id="updateAdHoc" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        UPDATE info_post
        SET
            title = #{title},
            adhoc_type = #{adhocType},
            company = #{company},
            content = #{content},
            publish_start_at = #{publishStartAt}
        WHERE
            post_id = #{postId}
          AND post_type = 'AD_HOC'
    </update>

    <!-- 수시공시 삭제 -->
    <delete id="deleteAdHoc" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        DELETE FROM info_post
        WHERE post_id = #{postId}
          AND post_type = 'AD_HOC'
    </delete>

    <!--================펀드정보===================-->
    <!-- 펀드정보 등록 -->
    <insert id="insertFundInfo" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        <selectKey keyProperty="postId" resultType="int" order="BEFORE">
            SELECT info_post_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO info_post (
        post_id,
        post_type,
        title,
        fund_info_type,
        fund_code,
        company,   -- 운용사 (추가컬럼)
        content,
        created_at,
        created_by,
        status
        ) VALUES (
        #{postId},
        'FUND_INFO',
        #{title},
        #{fundInfoType},
        #{fundCode},
        #{company},
        #{content},
        SYSDATE,
        #{createdBy},
        #{status}
        )
    </insert>

    <!-- 펀드정보 목록 + 상세 (페이징 사용으로 주석처리) -->
    <!--
    <select id="selectAllFundInfo" resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id          AS postId,
            fund_code        AS fundCode,
            title            AS title,
            fund_info_type   AS fundInfoType,
            company          AS company,
            created_at       AS createdAt,
            content          AS content,
            status           AS status
        FROM
            info_post
        WHERE
            post_type = 'FUND_INFO'
        ORDER BY
            post_id DESC
    </select>
    -->

    <!-- 펀드정보 페이징 목록 -->
    <select id="selectFundInfoList" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id          AS postId,
            fund_code        AS fundCode,
            title            AS title,
            fund_info_type   AS fundInfoType,
            company          AS company,
            created_at       AS createdAt,
            content          AS content,
            status           AS status
        FROM
            info_post
        WHERE
            post_type = 'FUND_INFO'
        ORDER BY
            post_id DESC
        OFFSET #{offset} ROWS
        FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 펀드정보 총 개수 -->
    <select id="selectFundInfoTotal" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM info_post
        WHERE post_type = 'FUND_INFO'
    </select>

     <!-- 펀드정보 수정 -->
    <update id="updateFundInfo" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        UPDATE info_post
        SET
            post_id = #{postId, jdbcType=INTEGER},
            fund_code = #{fundCode, jdbcType=VARCHAR},
            title = #{title, jdbcType=VARCHAR},
            fund_info_type = #{fundInfoType, jdbcType=VARCHAR},
            company = #{company, jdbcType=VARCHAR},
            <!-- created_at = #{createdAt, jdbcType=TIMESTAMP}, 등록일은 제거-->
            content = #{content, jdbcType=VARCHAR}
        WHERE post_id = #{postId, jdbcType=INTEGER}
          AND post_type = 'FUND_INFO'
    </update>

    <!-- 펀드정보 삭제 -->
    <delete id="deleteFundInfo" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        DELETE FROM info_post
        WHERE post_id = #{postId}
            AND post_type = 'FUND_INFO'
    </delete>


    <!--================펀드가이드===================-->
    <!-- 펀드 가이드 등록 -->
    <insert id="insertFundGuide" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        <selectKey keyProperty="postId" resultType="int" order="BEFORE">
            SELECT info_post_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO info_post(
            post_id,
            post_type,
            title,
            guide_type,
            content,
            status,
            created_by,
            created_at
        ) VALUES (
            #{postId},
            'FUND_GUIDE',
            #{title},
            #{guideType},
            #{content},
            NVL(#{status}, 'PUBLISHED'),
            NVL(#{createdBy}, 'admin'),
            SYSDATE
        )
    </insert>

    <!-- 펀드 가이드 목록 + 상세 (페이징 사용으로 주석처리) -->
    <!--
    <select id="selectAllFundGuide" resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id         AS postId,
            title,
            guide_type AS guideType,
            content,
            status,
            created_by      AS createdBy,
            created_at      AS createdAt
        FROM
            info_post
        WHERE
            post_type = 'FUND_GUIDE'
        ORDER BY post_id DESC
    </select>
    -->

    <!-- 펀드 가이드 페이징 목록 -->
    <select id="selectFundGuideList" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id         AS postId,
            title,
            guide_type AS guideType,
            content,
            status,
            created_by      AS createdBy,
            created_at      AS createdAt
        FROM
            info_post
        WHERE
            post_type = 'FUND_GUIDE'
        ORDER BY post_id DESC
        OFFSET #{offset} ROWS
        FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 펀드 가이드 총 개수 -->
    <select id="selectFundGuideTotal" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM info_post
        WHERE post_type = 'FUND_GUIDE'
    </select>

    <!-- 펀드 가이드 수정 -->
    <update id="updateFundGuide" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        UPDATE info_post
        SET
            title = #{title},
            guide_type = #{guideType},
            content = #{content},
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            updated_at = SYSDATE
        WHERE
            post_id = #{postId}
            AND post_type = 'FUND_GUIDE'
    </update>

    <!-- 펀드 가이드 삭제 -->
    <delete id="deleteFundGuide" parameterType="int">
        DELETE FROM info_post
        WHERE post_id = #{postId}
            AND post_type = 'FUND_GUIDE'
    </delete>


    <!--================펀드시황===================-->
    <!-- 펀드시황관리 등록 -->
    <insert id="insertFundMarket" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        <selectKey keyProperty="postId" resultType="int" order="BEFORE">
            SELECT info_post_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO info_post(
            post_id,
            post_type,
            title,
            market_type,
            summary,
            publish_start_at,
            content,
            status,
            created_by,
            created_at
        ) VALUES (
            #{postId},
            'FUND_MARKET',
            #{title},
            #{marketType},
            #{summary},
            #{publishStartAt, jdbcType=TIMESTAMP},
            #{content, jdbcType=CLOB},
            NVL(#{status}, 'PUBLISHED'),
            NVL(#{createdBy}, 'admin'),
            SYSDATE
        )
    </insert>

    <!-- 펀드시황관리 목록 + 상세 (페이징 사용으로 주석처리) -->
    <!--
    <select id="selectAllFundMarket" resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id         AS postId,
            title,
            market_type AS  marketType,
            summary,
            channels,
            publish_start_at AS publishStartAt,
            content,
            status,
            created_by      AS createdBy,
            created_at      AS createdAt
        FROM
            info_post
        WHERE
            post_type = 'FUND_MARKET'
        ORDER BY post_id DESC
    </select>
    -->

    <!-- 펀드시황 페이징 목록 -->
    <select id="selectFundMarketList" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        SELECT
            post_id         AS postId,
            title,
            market_type AS  marketType,
            summary,
            publish_start_at AS publishStartAt,
            content,
            status,
            created_by      AS createdBy,
            created_at      AS createdAt
        FROM
            info_post
        WHERE
            post_type = 'FUND_MARKET'
        ORDER BY post_id DESC
        OFFSET #{offset} ROWS
        FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 펀드시황 총 개수 -->
    <select id="selectFundMarketTotal" parameterType="kr.co.bnk.bnk_project.dto.PageRequestDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM info_post
        WHERE post_type = 'FUND_MARKET'
    </select>

    <!-- 펀드시황관리 수정 -->
    <update id="updateFundMarket" parameterType="kr.co.bnk.bnk_project.dto.admin.InfoPostDTO">
        UPDATE info_post
        SET
            title = #{title},
            market_type = #{marketType},
            summary = #{summary},
            publish_start_at = #{publishStartAt},
            updated_by = NVL(#{updatedBy,jdbcType=VARCHAR}, 'admin'),
            updated_at = SYSDATE
        WHERE
            post_id = #{postId}
            AND post_type = 'FUND_MARKET'
    </update>

    <!-- 펀드시황관리 삭제 -->
    <delete id="deleteFundMarket" parameterType="int">
        DELETE FROM info_post
        WHERE post_id = #{postId}
            AND post_type = 'FUND_MARKET'
    </delete>

</mapper>
